/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.page-center {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#hashrateRow .panel-title{
    min-height: 35px;
}

#hashrateRow .panel-primary{
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#hashrateRow .panel-heading{
    background: #4CAF50 none;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

#chartRow #chartDiv{
    height: 500px;
}














